
body{
    background-image: url(/img/pattern.png);
    margin: 0;
}

.navbar-brand{
    font-weight: 800;
    font-size: 22px;
    
}

.nav-item{
    letter-spacing: 1px;
    font-weight: 600;
}




.jumbotron{
    background-image: url(/img/lima.jpg);
    background-position: 50% 50%;
    color: white;
    text-align: center;
    margin-top:50px;
}

.jumbotron h1{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.jumbotron .box{
    width: 50%;
    margin: auto;
    background-color: rgba(24, 20, 20, 0.644);
}

/*CARACTERISTICAS DEL PRODUCTO*/

.cajas{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    
}

.superior{
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
   
    
}

.caja h4{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #e6e929;
    margin-top: 3px;
    padding:15px
    
}


.caja .description{
    margin-top: 15px;
    text-align: justify;
    background-color: white;
}

.caja{
    border-right: 1px solid rgba(225,225,226,0.8);
}

.caja:last-child{
    border-right: none;
}

/*----------------CARDS------------*/

.card-places{
    flex-flow: row wrap;
    padding: 2px 2px 2px 2px;
    margin-bottom: 30px;
    
    
}

.card-place{
    margin-top: 10px;
    flex: 1 150px;
    height: 370px;  
    min-width: 180px;
    padding: 20px;
    margin-bottom: 20px; 
    background: rgba(236, 234, 234, 0.966);
    margin:3px;
}

.card-place img{
    width: 100%;
    height: 170px;
    padding: 10px;
    border-radius: 30px;
}



.card-place h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    font-size: 17px;
    background-color: #ccc;
    padding:6px;
    font-weight: 600;
    border-radius: 5px;
}

.card-place p{
    text-align: center;
    font-size: 15px;
}


.btn-info{
    color:black;
    font-weight: 400;
    align-self: center;
    font-size: 12px;
    width: 50%;
    background: #e0e419;
    border:none;
}

.label-form{
    border-radius: 5px;
    padding:8px;
    font-weight: 700;
    color:rgb(38, 38, 39);
    background-color:#ccc;
    

}

.oi{
    margin-right: 7px;
    font-size: 10px;
}



th{
    text-align: center;
}
    
 

footer{
    
    background-color: rgb(41, 41, 35);
    overflow: hidden;
    color: white;
    width: 100%;
    position:sticky;
    margin-top: 20px;
    
}


footer a{
    text-decoration: none;
    color: white;
}

footer .info{
    padding-top: 10px;
    
}
footer .info h3{
    text-align: center;

}

footer p{
    text-align: center;
}

footer .network ,.services{
    margin-top: 70px;
}

footer .network li, .services li{
    margin-top: 15px;
    list-style: none;
    font-size: 15px;
   

}

@media (max-width: 1300px) {
    iframe {
      width: 350px;
    }
}






